@model GestionConsommationVehiculeMvc.Models.affectation

@{
    ViewBag.Title = "Create";
Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" style="background-color:rgb(0, 255, 255)">
<div class="fa fa-home" style="text-align:center; font-size:50px"> Administrateurs</div>
<h2></h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>

         @{
            
           var date = DateTime.Now;
           }
        <legend></legend>

        <div  style="font-size:20px">
            @Html.LabelFor(model => model.IdVehicule, "vehicule")
        </div>
        <div class="col-md-6" style="font-size:20px">
            @Html.DropDownList("IdVehicule", null, "selectionner `Vehicule",
            htmlAttributes: new { @class = "form-control "})
            @Html.ValidationMessageFor(model => model.IdVehicule)
        </div>

   
        <div class="col-md-6" style="font-size:20px">
            @Html.DropDownList("IdService", null, "selectionner `Service",
            htmlAttributes: new { @class = "form-control "})
            @Html.ValidationMessageFor(model => model.IdService)
        </div>

        <div style="font-size:20px">
            @Html.LabelFor(model => model.IdUser, "utilisateur")
        </div>
        <div class="col-md-6" style="font-size:20px">
            @Html.DropDownList("IdUser", null, "selectionner `Responsable",
            htmlAttributes: new { @class = "form-control "})
            @Html.ValidationMessageFor(model => model.IdUser)
        </div>

           <div class="col-md-6" style="font-size:20px">
                
                <input value="@date" class="form-control" readonly="" name="DateAffectation"/>
            </div>

        <div >
            @Html.LabelFor(model => model.occupe)
        </div>
        <div class="col-md-6" style="font-size:20px">
            @Html.EditorFor(model => model.occupe)
            @Html.ValidationMessageFor(model => model.occupe)
        </div>

           <div class="col-md-6" style="font-size:20px">
                <input type="submit" value="Enregistrer" class="form-control btn btn-warning"/>
            </div>
    </fieldset>
}

<div style="font-size:20px">
    @Html.ActionLink("Back to List", "Index")
</div>

</div>
