@model GestionConsommationVehiculeMvc.Models.typeconsommation

@{
    ViewBag.Title = "Edit";
 Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" style="background-color:rgb(255, 255, 255)">

<h2>Modification</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">

            @Html.LabelFor(model => model.NomTypeConsommation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomTypeConsommation)

            @Html.ValidationMessageFor(model => model.NomTypeConsommation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.document)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.document)
            @Html.ValidationMessageFor(model => model.document)
        </div><hr/>

       <div style="font-size:30px">
         <p>
            <input type="submit" value="Save" class=" btn btn-success form-group col-md-2"/>
        </p>
        @Html.ActionLink("Back to List", "Index")

    </div>
    </fieldset>
}



</div>
